<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-content">
      <h3>Lemon drops ice cream</h3>
      <p>Danish biscuit tiramisu. Marzipan jelly danish. Brownie muffin sugar plum icing candy canes bonbon oat cake. Jujubes cake oat cake pastry bear claw. Bear claw muffin muffin dessert. Cake cupcake carrot cake gummies sweet marshmallow sweet liquorice candy canes. Marzipan chocolate jujubes chocolate cake halvah.</p>
      <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
    <div class="footer-social">
      <ul>
        <li>
          <a href="http://www.linkedin.com/{{ site.linkedin_username }}">
            <img src="/images/linkedin.png" alt="linkedin logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://www.github.com/{{ site.github_username }}">
            <img src="/images/github.png" alt="github logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://pinterest.com/{{ site.pinterest_username }}">
            <img src="/images/pinterest.png" alt="pinterest logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://plus.google.com/{{ site.google_username }}">
            <img src="/images/google.png" alt="google logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/{{ site.twitter_username }}">
            <img src="/images/twitter.png" alt="twitter logo" width="40">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
